<a href="https://colab.research.google.com/github/mohmaed7777/Water-Quality/blob/main/Drinking_water_potability.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Dataset Context**:-
Access to safe drinking-water is essential to health, a basic human right and a component of effective policy for health protection. This is important as a health and development issue at a national, regional and local level. In some regions, it has been shown that investments in water supply and sanitation can yield a net economic benefit, since the reductions in adverse health effects and health care costs outweigh the costs of undertaking the interventions.

**Content:**

The water_potability.csv file contains water quality metrics for 3276 different water bodies.

**pH value:**

PH is an important parameter in evaluating the acid–base balance of water. It is also the indicator of acidic or alkaline condition of water status. WHO has recommended maximum permissible limit of pH from 6.5 to 8.5. The current investigation ranges were 6.52–6.83 which are in the range of WHO standards.

**Hardness:**

Hardness is mainly caused by calcium and magnesium salts. These salts are dissolved from geologic deposits through which water travels. The length of time water is in contact with hardness producing material helps determine how much hardness there is in raw water. Hardness was originally defined as the capacity of water to precipitate soap caused by Calcium and Magnesium.

**Solids (Total dissolved solids - TDS):**

Water has the ability to dissolve a wide range of inorganic and some organic minerals or salts such as potassium, calcium, sodium, bicarbonates, chlorides, magnesium, sulfates etc. These minerals produced un-wanted taste and diluted color in appearance of water. This is the important parameter for the use of water. The water with high TDS value indicates that water is highly mineralized. Desirable limit for TDS is 500 mg/l and maximum limit is 1000 mg/l which prescribed for drinking purpose.

**Chloramines:**

Chlorine and chloramine are the major disinfectants used in public water systems. Chloramines are most commonly formed when ammonia is added to chlorine to treat drinking water. Chlorine levels up to 4 milligrams per liter (mg/L or 4 parts per million (ppm)) are considered safe in drinking water.

**Sulfate:**

Sulfates are naturally occurring substances that are found in minerals, soil, and rocks. They are present in ambient air, groundwater, plants, and food. The principal commercial use of sulfate is in the chemical industry. Sulfate concentration in seawater is about 2,700 milligrams per liter (mg/L). It ranges from 3 to 30 mg/L in most freshwater supplies, although much higher concentrations (1000 mg/L) are found in some geographic locations.

**Conductivity:**

Pure water is not a good conductor of electric current rather’s a good insulator. Increase in ions concentration enhances the electrical conductivity of water. Generally, the amount of dissolved solids in water determines the electrical conductivity. Electrical conductivity (EC) actually measures the ionic process of a solution that enables it to transmit current. According to WHO standards, EC value should not exceeded 400 μS/cm.

**Organic_carbon:**

Total Organic Carbon (TOC) in source waters comes from decaying natural organic matter (NOM) as well as synthetic sources. TOC is a measure of the total amount of carbon in organic compounds in pure water. According to US EPA < 2 mg/L as TOC in treated / drinking water, and < 4 mg/Lit in source water which is use for treatment.

**Trihalomethanes:**
THMs are chemicals which may be found in water treated with chlorine. The concentration of THMs in drinking water varies according to the level of organic material in the water, the amount of chlorine required to treat the water, and the temperature of the water that is being treated. THM levels up to 80 ppm is considered safe in drinking water.

**Turbidity:**

The turbidity of water depends on the quantity of solid matter present in the suspended state. It is a measure of light emitting properties of water and the test is used to indicate the quality of waste discharge with respect to colloidal matter. The mean turbidity value obtained for Wondo Genet Campus (0.98 NTU) is lower than the WHO recommended value of 5.00 NTU.

**Potability:**

Indicates if water is safe for human consumption where **1** means **Potable** and **0** means **Not potable**.

In [1]:
import pandas as  pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline 
import seaborn as sns
import sklearn 
print('Setup completed^_^')

Setup completed^_^

In [2]:
data_path = '/content/water_potability.csv'
df = pd.read_csv(data_path)
df.head()

         ph    Hardness        Solids  ...  Trihalomethanes  Turbidity  Potability
0       NaN  204.890455  20791.318981  ...        86.990970   2.963135           0
1  3.716080  129.422921  18630.057858  ...        56.329076   4.500656           0
2  8.099124  224.236259  19909.541732  ...        66.420093   3.055934           0
3  8.316766  214.373394  22018.417441  ...       100.341674   4.628771           0
4  9.092223  181.101509  17978.986339  ...        31.997993   4.075075           0

[5 rows x 10 columns]

**Data Preprocessing:-**

In [3]:
df.shape

(3276, 10)

In [4]:
missing_data = df.isnull().sum()
missing_data[:]

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [5]:
round(df.describe())

           ph  Hardness   Solids  ...  Trihalomethanes  Turbidity  Potability
count  2785.0    3276.0   3276.0  ...           3114.0     3276.0      3276.0
mean      7.0     196.0  22014.0  ...             66.0        4.0         0.0
std       2.0      33.0   8769.0  ...             16.0        1.0         0.0
min       0.0      47.0    321.0  ...              1.0        1.0         0.0
25%       6.0     177.0  15667.0  ...             56.0        3.0         0.0
50%       7.0     197.0  20928.0  ...             67.0        4.0         0.0
75%       8.0     217.0  27333.0  ...             77.0        5.0         1.0
max      14.0     323.0  61227.0  ...            124.0        7.0         1.0

[8 rows x 10 columns]

In [6]:
df.dtypes.value_counts()

float64    9
int64      1
dtype: int64

In [7]:
# Check the data are all scaled -1 for minimum and +1 for maximum: 
df.iloc[:,:-1].min().value_counts()

181.483754    1
2.200000      1
1.450000      1
0.738000      1
47.432000     1
0.352000      1
320.942611    1
129.000000    1
0.000000      1
dtype: int64

In [8]:
df.iloc[:,:-1].max().value_counts()

13.127000       1
6.739000        1
323.124000      1
61227.196008    1
28.300000       1
753.342620      1
481.030642      1
124.000000      1
14.000000       1
dtype: int64

In [9]:
df.Potability.value_counts()

0    1998
1    1278
Name: Potability, dtype: int64

In [10]:
# Scale our data : 
from sklearn.preprocessing import MinMaxScaler

In [11]:
mm = MinMaxScaler()
mm

MinMaxScaler(copy=True, feature_range=(0, 1))

In [13]:
df.columns

Index(['ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability'],
      dtype='object')

In [29]:
scaler_data= df[['Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability']]

In [30]:
for scaler_data in df.columns:
  df[scaler_data] = mm.fit_transform(df[['Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability']])

In [31]:
round(df.describe().T,2)

                  count  mean   std  min   25%   50%   75%  max
ph               3276.0  0.54  0.12  0.0  0.47  0.54  0.61  1.0
Hardness         3276.0  0.54  0.12  0.0  0.47  0.54  0.61  1.0
Solids           3276.0  0.54  0.12  0.0  0.47  0.54  0.61  1.0
Chloramines      3276.0  0.54  0.12  0.0  0.47  0.54  0.61  1.0
Sulfate          3276.0  0.54  0.12  0.0  0.47  0.54  0.61  1.0
Conductivity     3276.0  0.54  0.12  0.0  0.47  0.54  0.61  1.0
Organic_carbon   3276.0  0.54  0.12  0.0  0.47  0.54  0.61  1.0
Trihalomethanes  3276.0  0.54  0.12  0.0  0.47  0.54  0.61  1.0
Turbidity        3276.0  0.54  0.12  0.0  0.47  0.54  0.61  1.0
Potability       3276.0  0.54  0.12  0.0  0.47  0.54  0.61  1.0

**1/ Applying the KNN algorithm:**

a.Sprate the features x from the target y.

b. split the sample into train & test split with testsets representing 40% of observations

c. Examine the accuracy, Recall, F1_score and precision.

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error, f1_score, classification_report, accuracy_score

In [36]:
y, x = df['Potability'], df.drop(columns='Potability')

In [37]:
x_train, x_test,y_train, y_test = train_test_split(x, y, test_size=0.4, random_state=42)

In [41]:
y_train

2404    0.616415
1338    0.424619
1239    0.588713
2046    0.405344
1569    0.623562
          ...
1095    0.583775
1130    0.426298
1294    0.505380
860     0.618810
3174    0.547184
Name: Potability, Length: 1965, dtype: float64

In [42]:
# Estimate KNN model and report the outcome : 
knn = KNeighborsClassifier(n_neighbors=5)

In [43]:
knn

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [44]:
knn = knn.fit(x_train, y_train)

ValueError: ignored